@import '../../variables.scss';

.todos {
    background-color: $clr-dark-600;
    border-radius: $radius;

    position: relative;

    &__todo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    &__description {
        display: flex;
        word-wrap: break-word;
    }

    &__description p {
        color: $clr-dark-200;
        padding: 1rem;
        inline-size: 15rem;
        overflow-wrap: break-word;

        @media only screen and (min-width: $bp-sm) {
            inline-size: 22rem;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__btn--edit {
        height: 24px;
        color: $clr-dark-400;
        transition: color 0.3s ease-in;

        &:hover {
            color: $clr-dark-200;
        }
    }

    &__btn--bin {
        height: 24px;
        color: $clr-dark-400;
        background: transparent;
        cursor: pointer;
        border: none;
        transition: color 0.3s ease-in;

        &:hover {
            color: $clr-dark-200;
        }
    }
}
