@import '../variables.scss';

header {
    background-image: linear-gradient(
        to right,
        #3a7bfd,
        #6675ff,
        #876efd,
        #a564fa,
        #c058f3
    );
    padding: 3rem 1rem;
    min-height: 16rem;
}
